<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Blog data source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_blog_listing_data_source" xsi:type="string">magenestblog_blog_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenestblog_blog_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_blog</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Blog\Model\ResourceModel\Blog</argument>
        </arguments>
    </virtualType>

    <!-- Banner data source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_banner_listing_data_source" xsi:type="string">magenestbanner_banner_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenestbanner_banner_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_banner</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Blog\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_category_listing_data_source" xsi:type="string">magenestcategory_category_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenestcategory_category_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_category</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Blog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>

<!--    <type name="Magento\CatalogUrlRewrite\Model\ProductUrlPathGenerator">-->
<!--        <plugin name="custom_url_generation" type="Magenest\Blog\Plugin\CustomUrlGenerator"/>-->
<!--    </type>-->

<!--    <type name="Magento\Checkout\Model\ShippingInformationManagement">-->
<!--        <plugin name="sr_save_delivery_date_in_quote" type="Magenest\Blog\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1"/>-->
<!--    </type>-->
<!--    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">-->
<!--        <arguments>-->
<!--            <argument name="columns" xsi:type="array">-->
<!--                <item name="delivery_date" xsi:type="string">sales_order.delivery_date</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->


</config>
